header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: rgb(9, 29, 19);
    background: radial-gradient(circle, rgba(9, 29, 19, 1) 52%, rgba(11, 11, 11, 1) 100%);
    color: #ffffff;
    border: 1px solid #000;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 1000;
  }
  
  header > ul {
      display: flex;
      list-style: none;
  }
  header > ul > li {
      padding: 0 20px;
  }
  
  a {
    color: inherit;
    text-decoration: none; 
  }
  
  header > ul > li a {
    color: inherit;
    text-decoration: none;
    position: relative;
  }
  
  header > ul > li a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px; 
    bottom: 0;
    left: 0;
    background-color: #34ca5a;
    transform: scaleX(0); 
    transform-origin: bottom left;
    transition: transform 0.3s ease; 
  }
  
  header > ul > li a:hover::before {
    transform: scaleX(1);
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateX(-10px)
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .linha {
    width: 100%;
    height: 5px; 
    background: rgb(29,51,29);
    background: linear-gradient(90deg, rgba(29,51,29,1) 0%, rgba(31,96,38,1) 50%, rgba(16,116,42,1) 100%);
  
  }
  header > ul > li {
    padding: 0 20px;
    opacity: 0; 
    animation: fadeIn 0.5s ease-in-out; 
    animation-fill-mode: forwards; 
  }
  
  /* animações segundos na li */
  header > ul > li:nth-child(1) {
    animation-delay: 2s; 
  }
  
  header > ul > li:nth-child(2) {
    animation-delay: 3s; 
  }
  
  header > ul > li:nth-child(3) {
    animation-delay: 4s; 
  }
  
  header > ul > li:nth-child(4) {
    animation-delay: 5s; 
  }
  
  header > ul > li:nth-child(5) {
    animation-delay: 6s; 
  }
  @media (max-width: 390px) {
      
      header > ul > li {
           padding: 0 9px;
      }
    }
    
    @media (min-width: 769px) and (max-width: 1024px) {
        
    }
    
    @media (min-width: 1025px) {
      /* Estilos para desktops */
      
  }